.image{
  height: 250px;
  width:350px
}
.button{
  margin-left: 15px;
  background-color: white;
}
.centering{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ChangeColor{
  
  background-color: rgb(111, 111, 111);
  border-radius: 15px;
}