*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
.image{
  height: 250px;
  width:350px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.button{
  margin-left: 15px;
  background-color: white;
}
.centering{
  display: flex;
  justify-content: center;
  align-items: center;
}

.textFilled{
  background-color: antiquewhite;
 
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;

}

div.light-mode{
  background-color: #333;
  color: #fff;
}

div.dark-mode{
  background-color: #f0f0f0;
  color: #000;
}

#contento{
 height:70vh;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;}
.parrafo{
  padding:10px;
}
.container{
  

  width:70%;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 5%;
  background-color: #f0f0f01c;
  
}
.height{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content{
  background-image: url("../../photo.jpg")
}